<h1>{{title}}</h1>
<app-hello></app-hello>
<app-hello9></app-hello9>
<app-dir-strut></app-dir-strut>
<app-dir-attr></app-dir-attr>
<app-dir-cust></app-dir-cust>
<app-pip-ex></app-pip-ex>
<app-user-new></app-user-new>
<app-user-new18></app-user-new18>
<app-user-new19></app-user-new19>
<app-user-list></app-user-list>

<div>
    <h2>Routing Example</h2>
    <nav>
        <a routerLink="one">First</a> + 
        <a routerLink="two">Second</a> + 
        <a routerLink="three">Third</a>
    </nav>
    <router-outlet></router-outlet>
</div>

<app-user-list26></app-user-list26>
<app-my-http></app-my-http>
<app-coder-get-all></app-coder-get-all>
<app-coder-save></app-coder-save>
<app-simple></app-simple>
