<span>{{ user.name }}: {{ user.likes }}</span>
<div>
    <div *ngIf="user.likes % 2" [ngStyle]="{color: 'blue'}">
        Odd number of likes
        <span ngNonBindable>{{unbound}}</span>
    </div>

    <div [ngSwitch]="user.name">
        <span *ngSwitchCase="'Tom'">Hi </span>
        <span *ngSwitchCase="'Bob'">Hello </span>
        <span *ngSwitchDefault>Good morning </span>
        <span [ngClass]="{aqua: back}">{{user.name}}</span>
    </div>
    <button (click)="plusOne()">Like</button>
    <button (click)="swapBack()">Swap Background</button>
</div>